
bin/
obj/
out/


*.user
*.userosscache
*.suo
*.sln.docstates
*.rsuser
*.vsp


Generated_Code/


.vscode/


.idea/


.vscode/
*.pidb
*.userprefs


ScaffoldingReadMe.txt


Thumbs.db
ehthumbs.db

*.bak


_ReSharper*/
*.DotSettings.user


*.VisualState.xml
TestResult.xml
TestResults/


*.trx
*.TestResults


project.lock.json
project.fragment.lock.json
artifacts/


*.dbmdl
*.jfm


*.dotCover

*.log


*.mdf
*.ldf


*.ncb
*.sdf
*.cache
*.pdb

publish/
*.Publish.xml


*.nupkg
*.snupkg
*.nuspec
packages/
*.psmdcp
*.ps1


.env


*.orig
*.bak
*.tmp
*.swp
*.swo
*.dmp


Desktop.ini
$RECYCLE.BIN/


.DS_Store


copilot.*


.idea/
*.sln.iml


project.assets.json
project.lock.json
project.fragment.lock.json
*.deps.json


.dotnet_tool/


*.runtimeconfig.dev.json